@import '../../../scss/abstract/constants';

.audio-challenge-audio {
  width: 90px;
  height: 90px;
  background-image: url('../../../assets/svg/audio.svg');
  @include bg-size();
  filter: invert(100%);
  transition: 0.3s;
}

.audio-container {
  display: flex;
  align-items: center;
  img {
    margin-right: 20px;
  }
}

.audio-challenge-audio.active {
  transform: scale(0.3);
}

.results-count {
  display: flex;

  .results-count__item {
    padding: 20px;
  }
}

.audio-challenge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $color-gray;
  border-radius: 10px;
  padding: 30px;
  cursor: pointer;

  .question {
    min-width: 1150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 15px;
  }

  .select {
    color: black;
    background-color: #8fd4e2;
    opacity: 0.9;
    margin-bottom: 55px;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    border: 1px solid $color-light;
    border-radius: $border-rounded;

    &.select-level {
      margin-bottom: 15px;
    }
  }
}

.audio-challenge-question-buttons {
  display: flex;
  column-gap: 20px;
  row-gap: 10px;
  transition: 0.3s;
}

.button {
  &.audio-challenge-question-button {
    background-color: inherit;
    background-image: none;
    font-weight: 300;
    font-size: 2rem;
    border: solid 1px $color-light;
    text-transform: none;
    padding: 20px;
  }
  &.audio-challenge-question-button:active {
    transform: none;
  }

  &.right-answer {
    background-color: $color-correct;
  }

  &.wrong-answer {
    background-color: $color-wrong;
  }
}

.results-count {
  display: flex;

  .results-count__item {
    display: flex;
    align-items: center;
    padding: 20px;

    .icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 10px;
      border-radius: 50%;
      background-color: white;
      background-size: cover;

      &.icon-correct {
        background-image: url('../../../assets/svg/circle-correct.svg');
      }

      &.icon-wrong {
        background-image: url('../../../assets/svg/circle-wrong.svg');
      }
    }
  }
}
